<a href="https://colab.research.google.com/github/danmiee/Python_PNU/blob/main/ch02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

0~100 사이의 7의 배수 구하기

In [1]:
list = []
for x in range(100):
    if x%7==0:
      list.append(x)
print(list)

[0, 7, 14, 21, 28, 35, 42, 49, 56, 63, 70, 77, 84, 91, 98]

평균 나이 소수점 첫째자리까지 구하기

In [22]:
age=[50,45,33,39,29,30]
avg=sum(age)/len(age)
print(round(avg,1))

37.7

계란 7개를 담을 수 있는 바구니가 있다. 564개의 계란을 모두 담으려면 몇 개의 바구니가 필요할까?

In [36]:
import math

a = math.ceil(564/7)
b = math.floor(564/7)

print(a,b)

81 80

다음 변환식을 활용하여 섭씨 29도를 화씨 온도로 변환하여 소수점 2자리까지 출력해보시오.
F=(C-32)*(5/9)

In [50]:
c=29
f=(c*(5/9))+32
print('섭씨',c,'도는 화씨',round(f,2),'도 입니다.')
# 형식지정자 활용한 표기법
print("섭씨 %d도는 화씨 %.2f도 입니다." % (c,f))
# f-string 표기법
print(f"섭씨 {c}도는 화씨 {f:.2f}도 입니다.")

섭씨 29 도는 화씨 48.11 도 입니다.
섭씨 29도는 화씨 48.11도 입니다.
섭씨 29도는 화씨 48.11도 입니다.

1단부터 19단까지 출력하는 프로그램을 만들어보자

In [ ]:
def multiple(num):
    for x in range(2,20):
      print(num," × ",x," = ",num*x)

for x in range(2,20):
  multiple(x)
  print()

분식가게

떡볶이 : 2000 / 라면 : 3000 / 튀김 : 500

각 메뉴별 매출과 총 매출을 정리하여 출력해주는 프로그램을 
만들어 보자.

판매수량 입금받기 / <정산> / 매출금액 노출

In [55]:
def calculate(dbk, ramen, fried):
  sum_dbk = int(dbk)*2000
  sum_ramen = int(ramen)*3000
  sum_fried = int(fried)*500
  sum = sum_dbk + sum_ramen + sum_fried
  print(f"떡볶이의 매출: {sum_dbk}원")
  print(f"라면의 매출: {sum_ramen}원")
  print(f"튀김의 매출: {sum_fried}원")
  print(f"오늘의 총 매출은 {sum}원입니다.")

dbk = input("떡볶이는 몇 그릇 팔았나요?")
ramen = input("라면은 몇 그릇 팔았나요?")
fried = input("튀김은 몇 개 팔았나요?")
print("-----<오늘의 매출 정산>-----")
calculate(dbk, ramen, fried)

떡볶이는 몇 그릇 팔았나요?43
라면은 몇 그릇 팔았나요?62
튀김은 몇 개 팔았나요?89
-----<오늘의 매출 정산>-----
떡볶이의 매출: 86000원
라면의 매출: 186000원
튀김의 매출: 44500원
오늘의 총 매출은 316500원입니다.

지하철 표 판매 자판기

돈 넣으면 구간별 표의 수량 입력받기

표 가격 제외한 거스름돈 출력

1000원 지폐와 100원 동전만 사용하여 반환

1구간 : 1300 / 2구간 : 1500

In [4]:
import math

money = int(input("투입한 돈은?"))
line1 = int(input("1구간 표의 수는?"))
line2 = int(input("2구간 표의 수는?"))

change = money - ((line1*1300)+(line2*1500))
change_paper = change//1000
change_coin = math.floor(change%1000/100)

print(f"잔돈: {change}원")
print(f"1000원 지폐: {change_paper}장")
print(f"100원 동전: {change_coin}개")

투입한 돈은?10000
1구간 표의 수는?3
2구간 표의 수는?1
잔돈: 4600원
1000원 지폐: 4장
100원 동전: 6개

부가세 자동 계산 프로그램

소비자가격 = 물건가격 * 1.1

물건가격 = 소비자가격 * (1 / 1.1)

부가세 = 물건가격 * 0.1 == 소비자가격 * (1 / 11)

In [16]:
import math

price = {'a': 23, 'b': 40, 'c': 67}

svc = input("서비스 종류를 입력하세요. (a/b/c)")
vat = input("부가세를 포함합니까? (y/n)")
result=0

if vat=='n':
  result = price[svc]
else:
  result = math.ceil(price[svc]*1.1)

print(f"{result}만 원입니다")

서비스 종류를 입력하세요. (a/b/c)c
부가세를 포함합니까? (y/n)n
67만 원입니다

연습문제 #3. 코드 오류 수정하기

In [19]:
a = input('나이를 입력하세요: ')
40-int(a)

나이를 입력하세요: 38

2

연습문제 #4. lambda를 사용한 plus 함수

34와 5를 더하는 명령?

In [21]:
plus = lambda x, y : x + y
plus(34, 54)

88

연습문제 #5. def문 사용하여 평균값 출력하는 mean() 생성

mean 함수로 출력한 값을 사용하니 오류 발생 > 코드 수정하기

In [34]:
def mean(a, b):
  return (a+b)/2

print(mean(33, 22))

45 + mean(33, 22)

27.5

72.5

연습문제 #6. 리스트 b에0 있는 숫자 중

10 미만은 그대로 출력하고 10 이상은 1의 자리만 출력 > 코드 완성하기

In [35]:
b = [1, 2, 3, 10, 11, 12]

for i in b:
  if i < 10:
    print(i)
  else:
    print(i - 10)

1
2
3
0
1
2